.applicazioni-page {
  .promo {
	margin-bottom: 72px;
	@media screen and (max-width: 576px) {
	  margin-bottom: 0;
	}
  }
  .taxonomies {
	padding-bottom: 163px;
	@media screen and (max-width: 576px) {
	  padding-bottom: 60px;
	}
  }
}