.azienda-blocks {
  margin-bottom: 150px;
  @media screen and (max-width: 576px) {
    margin-bottom: 60px;
  }
  .produzione-post__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 94px 82px 60px 88px;
    @media screen and (max-width: 576px) {
      padding: 60px 30px;
    }
    a {
      margin-top: auto;
    }
  }
  .produzione-post__img {
    height: 561px;
    @media screen and (max-width: 576px) {
      height: 400px;
    }
  }
  .produzione-post__block-small {
    .produzione-post__title {
      margin-top: 41px;
      @media screen and (max-width: 992px) {
        margin-top: 0;
      }
    }
  }
  .produzione-post__block-small .produzione-post__content {
    @media screen and (max-width: 992px) {
      height: auto;
    }
  }
}