.azienda-features {
  display: flex;
  justify-content: space-between;
  margin-bottom: 138px;
  @media screen and (max-width: 992px) {
	display: block;
  }
  @media screen and (max-width: 576px) {
	margin-bottom: 84px;
  }
}
.azienda-features-ricerca {
  padding: 6.1% 4.2% 4.9% 5.9%;
  width: 59.5%;
  background-color: $gallery;
  @media screen and (max-width: 992px) {
	padding-top: 20%;
	padding-bottom: 20%;
	width: auto;
  }
}
.azienda-features__title {
  margin-bottom: 52px;
  font-family: GreyscaleBasic, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  letter-spacing: -0.01em;
  @media screen and (max-width: 576px) {
	margin-bottom: 30px;
	font-size: 38px;
  }
}
.azienda-features-ricerca__title {
  color: #00478c;
}
.azienda-features__text {
  p {
	margin-bottom: 30px;
	line-height: 1.4;
  }
  li {
	position: relative;
	margin-bottom: 14px;
	padding-left: 10px;
	line-height: 1.4;
	&::before {
	  content: '';
	  position: absolute;
	  top: 11px;
	  left: 2px;
	  width: 4px;
	  height: 4px;
	  border-radius: 50%;
	}
  }
}
.azienda-features-ricerca__text {
  p {
	margin-bottom: 50px;
	letter-spacing: 1.1px;
  }
  strong {
	font-weight: normal;
	color: $congressBlue;
  }
  li {
	&::before {
	  background-color: $congressBlue;
	}
	strong {
	  font-weight: normal;
	  color: $congressBlue;
	}
  }
}
.azienda-features-progetti {
  padding: 6.1% 4.2% 4.4% 5.4%;
  width: 40.5%;
  color: white;
  background-color: $congressBlue;
  @media screen and (max-width: 992px) {
	padding-top: 20%;
	padding-bottom: 20%;
	width: auto;
  }
}
.azienda-features-progetti__title {
  margin-bottom: 60px;
  color: white;
  @media screen and (max-width: 576px) {
	margin-bottom: 30px;
  }
}
.azienda-features-progetti__text {
  color: white;
  p {
	margin-bottom: 11px;
	line-height: 1.5;
  }
  li {
	a {
	  color: $flamingo;
	  &:hover {
		text-decoration: underline;
	  }
	}
  }
  li::before {
	background-color: white;
  }
}