.caracteristics-panel {
  display: flex;
  margin-bottom: 113px;
  border-bottom: 1px solid $gallery;
  @media screen and (max-width: 1600px) {
    display: block;
  }
}
.caracteristics-panel__item{
  @media screen and (max-width: 1600px) {
    text-align: center;
  }
  &:first-of-type {
    flex: 0 0 505px;
	.caracteristics-panel__title,
    .caracteristics-panel__text {
      padding-left: 11.2%;
      justify-content: flex-start;
      @media screen and (max-width: 1600px) {
        padding-left: 0;
        justify-content: center;
      }
    }
  }
  &:nth-of-type(2) {
    flex: 0 0 192px;
  }
  &:nth-of-type(3) {
    flex: 0 0 313px;
	.caracteristics-panel__text {
      padding-top: 14px;
      display: block;
      text-align: center;
      font-family: Graphik, sans-serif;
      font-size: 18px;
      font-weight: 300;
      color: $congressBlue;
    }
  }
  &:nth-of-type(4) {
    flex: 0 0 196px;
  }
  &:nth-of-type(5) {
    flex: 1;
  }
}
.caracteristics-panel__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  height: 80px;
  text-align: center;
  background-color: $gallery;
}
.caracteristics-panel__text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 107px;
  font-family: GreyscaleBasic, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.1;
  color: $congressBlue;
  strong {
    display: block;
    margin-bottom: -9px;
    font-weight: bold;
    color: $congressBlue;
  }
}