.documents-block {
  padding-top: 84px;
}
.documents-block__header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.documents-block__header {
  margin-bottom: 47px;
  img {
	display: inline-block;
	margin-right: 10px;
  }
}
.documents-block__title {
  font-family: GreyscaleBasic, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: $congressBlue;
}
.documents-block__description {
  margin-bottom: 75px;
  text-align: center;
}
.documents-block__wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 180px;
  padding: 0 15px;
  max-width: 1426px;
  @media screen and (max-width: 1300px) {
  	flex-wrap: wrap;
	margin-bottom: 40px;
  }
  @media screen and (max-width: 524px) {
	display: block;
  }
}
.documents-block__item {
  display: flex;
  flex-direction: column;
  margin-right: 2%;
  padding: 20px;
  width: 17%;
  border: 1px solid #c4c4c4;
  @media screen and (max-width: 1300px) {
	margin-bottom: 40px;
	width: auto;
	flex: 0 0 237px
  }
  @media screen and (max-width: 526px) {
	margin: 0 auto 60px;
  	width: 237px;
  }
  &:last-of-type {
	margin-right: 0;
	@media screen and (max-width: 1300px) {
	  margin-right: 2%;
	}
	@media screen and (max-width: 526px) {
	  margin: 0 auto 60px;
	}
  }
}
.documents-block__img {
  position: relative;
  margin-bottom: 30px;
  width: 91px;
  height: 128px;
  img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
  }
}
.documents-block__item-title {
  margin-top: auto;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  color: $congressBlue;
  transition: all .4s;
  &:hover {
	color: $flamingo;
  }
}
.documents-block__language {
  margin-bottom: 20px;
  color: $doveGray;
}
.documents-block__link {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 42px;
  color: white;
  background-color: $flamingo;
  &::after {
	content: '';
	position: absolute;
	top: 0;
	right: 44px;
	width: 1px;
	height: 100%;
	background-color: white;
	opacity: .3;
  }
  &:hover {
	svg	{
	  transform: translateY(3px);
	}
  }
}
.documents-block__icon {
  position: relative;
  display: block;
  &::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: white;
  }
  svg {
	transition: all .3s;
  }
}