.filter__header {
  position: relative;
  left: -5px;
  margin-bottom: 4px;
  text-align: center;
  @media screen and (max-width: 992px) {
  	left: -5px;
  }
  .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 266px;
    height: 120px;
    transition: all .1s;
    @media screen and (max-width: 768px) {
      width: 166px;
      height: 60px;
    }
    @media screen and (max-width: 400px) {
      margin-bottom: 20px;
    }
  }
}
.filter__bottom {
  position: relative;
  left: -25px;
  padding: 60px 15px 52px;
  text-align: center;
  @media screen and (max-width: 992px) {
  	left: 0;
  }
  .filter__button {
    font-family: GreyscaleBasic, sans-serif;
    margin-left: 49px;
    font-weight: bold;
    font-size: 3rem;
    line-height: 115%;
    transition: all .3s;
    color: $congressBlue;
    @media screen and (max-width: 768px) {
      margin-left: 0;
      margin-bottom: 30px;
      display: block;
      text-align: center;
    }
    &:hover {
      color: $flamingo;
    }
	&:first-of-type {
      margin-left: 0;
    }
  }
}
.filter__item {
  display: none;
}
