.main-footer {
  position: relative;
  &::before {
	content: '';
	position: absolute;
	top: -160px;
	left: 0;
	width: 100%;
	height: 130px;
	background: linear-gradient(180deg, rgba(239, 239, 239, 0) 0%, #fff 100%);
	z-index: 1;
	@media screen and (max-width: 576px) {
	  display: none;
	}
  }
}
.main-footer__wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  @media screen and (max-width: 1200px) {
	display: block;
  }
}
.main-footer__title {
  margin-bottom: 30px;
  font-family: GreyscaleBasic, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: $congressBlue;
}
.form {
  padding: 76px 72px 76px;
  width: 40%;
  border: 1px solid $gallery;
  @media screen and (max-width: 1200px) {
	margin: 0 auto 60px;
  	max-width: 600px;
	width: auto;
  }
  @media screen and (max-width: 576px) {
	margin-bottom: 0;
	padding: 60px 30px;
  }
  &-group {
	margin-bottom: 20px;
	label {
	  display: inline-block;
	  margin-bottom: 10px;
	  font-size: 16px;
	  font-weight: 500;
	  color: #888;
	}
	input[type="text"],
	input[type="email"],
	textarea {
	  text-indent: 10px;
	  height: 60px;
	  border: 1px solid $gallery;
	  @media screen and (max-width: 576px) {
		width: 100%;
	  }
	  &:focus {
		outline: 1px solid #888;
	  }
	}
  }
  .form-footer {
	display: flex;
	align-items: center;
	margin-top: -7px;
	input[type="submit"] {
	  width: 139px;
	  height: 75px;
	  font-size: 24px;
	  font-weight: 500;
	  color: white;
	  background-color: $flamingo;
	  border: 1px solid $flamingo;
	  transition: all .3s;
	  &:hover {
		color: $flamingo;
		background-color: white;
	  }
	}
	.privacy {
	  font-size: 12px;
	  font-weight: 500;
	  input[type="checkbox"] {
		display: none;
		&:checked ~ .wpcf7-list-item-label::after {
		  opacity: 1;
		}
	  }
	  .wpcf7-list-item-label {
		position: relative;
		top: 2px;
		display: block;
		padding-left: 32px;
		font-size: 12px;
		font-weight: normal;
		line-height: 1.5;
		color: #888;
		&:hover {
		  cursor: pointer;
		}
		&::before {
		  content: '';
		  position: absolute;
		  top: 2px;
		  left: 0;
		  width: 19px;
		  height: 19px;
		  border: 1px solid $flamingo;
		  
		}
		&::after {
		  content: '';
		  position: absolute;
		  top: 9px;
		  left: 4px;
		  width: 12px;
		  height: 10px;
		  background-image: url(../i/static/check.svg);
		  background-size: cover;
		  opacity: 0;
		  transition: all .3s;
		}
		a {
		  color: $flamingo;
		  transition: all .3s;
		  &:hover {
			text-decoration: underline;
		  }
		}
	  }
	}
  }
}
.main-footer__content {
  padding-top: 76px;
  width: 55.7%;
  @media screen and (max-width: 1200px) {
	margin: 0 auto;
	max-width: 1200px;
  	width: auto;
  }
  .map {
	iframe {
	  @media screen and (max-width: 1200px) {
		width: 100%;
	  }
	}
  }
}
.address {
  color: #666;
  @media screen and (max-width: 1200px) {
	text-align: center;
  }
  &__content {
	position: relative;
	top: -8px;
  }
  p {
	line-height: 1.5;
  }
  ul {
	margin-top: 49px;
	margin-bottom: 85px;
  }
  li {
	margin-bottom: 16px;
	a {
	  color: $flamingo;
	  &:hover {
		text-decoration: underline;
	  }
	}
  }
}
.main-footer__bottom {
  padding: 50px 0;
  color: white;
  background-color: $congressBlue;
  &-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media screen and (max-width: 1400px) {
	  display: block;
	}
  }
  .container {
	margin-bottom: 0;
  }
  .copyright {
	font-size: 14px;
	@media screen and (max-width: 1400px) {
	  margin-bottom: 60px;
	}
	@media screen and (max-width: 576px) {
	  margin-bottom: 30px;
	  text-align: center;
	  line-height: 2;
	}
	a {
	  color: $flamingo;
	  &:hover {
		text-decoration: underline;
	  }
	}
  }
  .menu-footer {
	display: flex;
	@media screen and (max-width: 768px) {
	  display: block;
	}
	li.current-menu-item a {
	  color: white;
	}
	li:first-of-type {
	  a {
		@media screen and (max-width: 1400px) {
		  margin-left: 0;
		}
	  }
	}
	a {
	  margin-left: 33px;
	  font-size: 14px;
	  color: #b2c8dd;
	  transition: all .3s;
	  @media screen and (max-width: 768px) {
		display: block;
		margin-left: 0;
		margin-bottom: 10px;
	  }
	  @media screen and (max-width: 576px) {
		margin-bottom: 30px;
		text-align: center;
	  }
	  &:hover {
		color: white;
	  }
	}
  }
}