@keyframes item-up {
  0% {
	opacity: 0;
	transform: translateY(50px);
  }
  100% {
	opacity: 1;
	transform: translateY(0);
  }
}
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px;
  height: 97px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  background-color: white;
  transition: all .2s;
  &::after {
	content: '';
	position: absolute;
	top: 0;
	right: 324px;
	width: 1px;
	height: 100%;
	background-color: #e5e5e5;
	transition: all .1s;
	@media screen and (max-width: 650px) {
	  display: none;
	}
  }
  &.fixed {
	height: 60px;
	background-color: white;
	.logo-svg-left,
	.logo-svg-right {
	  top: 0;
	  @media screen and (max-width: 576px) {
		margin-right: -12px;
	  }
	  svg {
		height: 40px;
		@media screen and (max-width: 576px) {
		  height: 30px;
		}
	  }
	}
	.logo img {
	  height: 40px;
	  @media screen and (max-width: 576px) {
		height: 30px;
	  }
	}
	.main-menu {
	  //height: 57px;
	}
	.list.flags {
	  height: 58px;
	  @media screen and (max-width: 650px) {
		height: 52px;
	  }
	  a {
		padding: 17px 10px;
	  }
	  a:nth-of-type(2) {
		top: 40px;
	  }
	  a:nth-of-type(3) {
		top: 50px;
	  }
	}
	.sandwitch-wrap {
	  top: 5px;
	}
	.sub-menu {
	  top: 37px;
	}
  }
}
.main-menu {
  display: flex;
  margin-left: auto;
  margin-right: 12px;
  //height: 97px;
  @media screen and (max-width: 1400px) {
	display: none;
	height: auto;
  }
  @media screen and (min-width: 1400px) {
	display: flex !important;
  }
  &.fixed {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 1000;
  }
  & li > a {
	//line-height: 97px;
	@media screen and (max-width: 1400px) {
	  display: inline-block;
	  margin-bottom: 10px;
	  padding: 10px;
	  line-height: 1;
	  //background-color: darkseagreen;
	  border-bottom: 1px solid #eee;
	}
	@media screen and (max-width: 576px) {
	  display: block;
	  margin-bottom: 10px;
	  line-height: 1;
	  text-align: center;
	}
  }
  li {
	position: relative;
  }
  li.current-menu-item > a {
	color: $flamingo;
  }
  li.menu-item-has-children {
	position: relative;
	&:hover {
	  .sub-menu {
		@media screen and (min-width: 1400px) {
		  display: block;
		  animation-name: item-up;
		  animation-duration: .3s;
		  animation-timing-function: ease-in;
		}
	  }
	}
	.menu-icon {
	  position: absolute;
	  top: -17px;
	  right: 0;
	  display: inline-block;
	  width: 10px;
	  height: 59px;
	  background: url(../i/static/arrow-down.svg) no-repeat center;
	  //background-color: indianred;
	  @media screen and (max-width: 1400px) {
		top: 1px;
		right: -50px;
		width: 50px;
		height: 38px;
		border: 1px solid #eee;
	  }
	  @media screen and (max-width: 576px) {
	  	top: -3px;
	  }
	  &.active {
		right: 0;
	  }
	}
  }
  .sub-menu {
	position: absolute;
	top: 27px;
	left: -32px;
	padding: 20px 20px;
	display: none;
	width: 360px;
	background-color: white;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	z-index: 100;
	@media screen and (max-width: 1400px) {
	  position: static;
	  //display: block;
	  padding: 0;
	  border-radius: 0;
	  box-shadow: none;
	}
	@media screen and (max-width: 650px) {
	  left: -120px;
	}
	@media screen and (max-width: 576px) {
	  margin-bottom: 20px;
	  padding: 0;
	}
	@media screen and (max-width: 400px) {
	  position: static;
	  box-shadow: none;
	  width: 280px;
	}
	li {
	  line-height: 1;
	}
	a {
	  display: block;
	  padding: 10px 30px;
	  line-height: 1;
	  height: auto;
	  @media screen and (max-width: 1400px) {
		padding: 10px;
	  }
	}
	//display: none;
  }
  a {
	padding: 20px;
	font-family: 'GreyscaleBasic', sans-serif;
	font-weight: bold;
	color: $congressBlue;
	transition: all .4s ease;
	letter-spacing: 0.01em;
	@media screen and (max-width: 576px) {
	  padding: 10px;
	}
	&:hover {
	  color: $flamingo;
	}
  }
}
.list.flags {
  position: relative;
  flex: 0 0 300px;
  padding-left: 10px;
  height: 73px;
  background-color: white;
  @media screen and (max-width: 650px) {
	flex: 0 0 60px;
	height: 68px;
  }
  &::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 1px;
	height: 100%;
	background-color: #ccc;
  }
  &:hover {
	a {
	  transition: all .3s;
	  &:nth-of-type(3) {
		display: flex;
		animation-name: item-up;
		animation-duration: .5s;
		animation-timing-function: ease-out;
	  }
	}
  }
  a {
	display: flex;
	align-items: center;
	padding: 24px 10px;
	width: 100%;
	transition: all .3s;
	color: $congressBlue;
	&:first-of-type {
	  display: none;
	}
	&:nth-of-type(2) {
	  //top: 60px;
	  //display: none;
	  //box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
	}
	&:nth-of-type(3) {
	  position: absolute;
	  left: 0;
	  background: #fff;
	  top: 70px;
	  display: none;
	  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
	  @media screen and (max-width: 650px) {
	  	left: 3px;
	  }
	}
	.name {
	  display: inline-block;
	  margin-right: 10px;
	  @media screen and (max-width: 650px) {
		display: none;
	  }
	}
  }
  img {
	width: 23px;
	height: 23px;
	border-radius: 50%;
	overflow: hidden;
	@media screen and (max-width: 650px) {
	  width: 40px;
	  height: auto;
	  border-radius: 0;
	}
  }
}
.page-template-front-page {
  .logo {
	img {
	  opacity: 0;
	}
  }
  .logo-svg-left svg,
  .logo-svg-right svg {
	opacity: 0;
	fill: #82ab2b;
  }
}
.logo {
  position: relative;
  top: 7px;
  a {
	display: block;
  }
  img {
	margin-left: 5px;
  }
}
.logo-svg-left,
.logo-svg-right {
  position: relative;
  top: -10px;
  display: inline-block;
}
.logo-svg-left svg {
  margin-right: -4px;
  fill: $congressBlue;
}
.logo-svg-right svg {
  fill: $flamingo;
}