.main-footer {
  padding: 6.4rem 0 9.8rem;
  text-align: center;
  color: $text-light;
  background: $accent-dark;
  
  .container {
	max-width: 1828.5px;
  }
  
  @media screen and (max-width: 992px) {
	padding-top: 6rem;
	padding-bottom: 6rem;
  }
  &__wrap {
	display: flex;
	justify-content: space-between;
	@media screen and (max-width: 992px) {
	  display: block;
	}
  }
  &__title {
	margin-bottom: 6.2rem;
	font-size: 3.6rem;
	font-weight: normal;
	font-style: italic;
	letter-spacing: 0.08px;
  }
}
.address {
  display: flex;
  flex-direction: column;
  margin-right: 2%;
  padding-top: 4.9rem;
  width: 31.9%;
  @media screen and (max-width: 992px) {
	margin-bottom: 6rem;
	width: 100%;
	text-align: center;
  }
  li {
	margin-bottom: 5.1rem;
	letter-spacing: 0.03em;
  }
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.7rem;
  li {
	margin-left: 1.8rem;
	&:first-of-type {
	  margin-left: 0;
	}
  }
  
}
.hours {
  @media screen and (max-width: 992px) {
	margin-bottom: 4rem;
  }
  &__title {
	margin-bottom: 3.1rem;
	font-weight: normal;
  }
  &__item {
  }
}
.copyright {
  margin-top: auto;
  font-size: 1.4rem;
  text-align: left;
  @media screen and (max-width: 768px) {
	margin-bottom: 4rem;
	text-align: center;
  }
  a {
	color: $text-light;
	&:hover {
	  text-decoration: underline;
	}
  }
}
.form {
  padding: 4.7rem 3.2% 3.4rem;
  width: 25.6%;
  border: 1px solid rgba($text-light, .5);
  @media screen and (max-width: 992px) {
	margin: 0 auto 6rem;
	max-width: 600px;
	width: auto;
  }
  &__title {
	margin-bottom: 3.8rem;
	font-size: 3.6rem;
	font-weight: normal;
	font-style: italic;
	letter-spacing: 0.08px;
  }
  &-group {
	margin-bottom: 2rem;
	height: 7.1rem;
	&:last-of-type {
	  height: 7rem;
	}
	input,
	textarea {
	  display: block;
	  font-family: 'Garamond', sans-serif;
	  width: 100%;
	  height: 100%;
	  font-size: 1.8rem;
	  text-align: center;
	  color: $text-light;
	  background-color: transparent;
	  border: none;
	  border-bottom: 1px solid rgba($text-light, .5);
	  &:focus {
		outline: none;
		border-bottom: 1px dashed white;
	  }
	}
	input {
	  @include placeholder-input($text-light, center);
	  font-style: italic;
	}
	textarea {
	  padding-top: 3rem;
	  font-style: italic;
	  @include placeholder-textarea($text-light, center);
	}
  }
  input[type=submit] {
	display: block;
	width: 100%;
	line-height: 6.5rem;
	height: 6.5rem;
	font-size: 1.8rem;
	font-weight: 900;
	text-transform: uppercase;
	color: white;
	background: $text-light;
	border: 1px solid $text-light;
	border-radius: 5rem;
	transition: all .6s;
	cursor: pointer;
	&:hover {
	  background-color: transparent;
	}
  }
  &-footer {
	margin-top: 3rem;
  }
}
.privacy {
  margin-top: 1.4rem;
  text-align: left;
  input[type="checkbox"] {
	display: none;
	&:checked ~ .wpcf7-list-item-label::after {
	  opacity: 1;
	}
  }
  .wpcf7-list-item-label {
	position: relative;
	display: block;
	padding-left: 4rem;
	font-size: 1.4rem;
	line-height: 1.5;
	text-align: left;
	cursor: pointer;
	&::before,
	&::after {
	  content: '';
	  position: absolute;
	}
	&::before {
	  top: .4rem;
	  left: 0;
	  width: 2rem;
	  height: 2rem;
	  border: 1px solid white;
	}
	&::after {
	  top: 1rem;
	  left: .5rem;
	  width: 1.1rem;
	  height: .8rem;
	  background-image: url('../i/static/check.svg');
	  background-size: cover;
	  transition: all .4s;
	  opacity: 0;
	}
	a {
	  color: $text-light;
	  &:hover {
		text-decoration: underline;
	  }
	}
  }
  span.wpcf7-list-item {
	margin: 0;
  }
}
.map {
  width: 33.9%;
  @media screen and (max-width: 992px) {
	width: 100%;
	height: 60rem;
  }
}
.partner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  @media screen and (max-width: 400px) {
	display: block;
  }
  img {
	margin-left: 1.5rem;
	@media screen and (max-width: 400px) {
	  margin-top: 3rem;
	  margin-left: 0;
	}
  }
}
.main-footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6.8rem;
  @media screen and (max-width: 768px) {
	display: block;
  }
}
.page-id-78 {
  .main-footer {
	padding: 9.4rem 0 14.8rem;
  }
}
