.numbers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
  padding: 120px 219px 100px;
  background: $gallery;
  @media screen and (max-width: 1500px) {
    padding: 120px  60px;
  }
  @media screen and (max-width: 1200px) {
  	flex-wrap: wrap;
  }
  @media screen and (max-width: 768px) {
    display: block;
    padding: 80px 15px;
  }
  @media screen and (max-width: 576px) {
    margin-bottom: 60px;
  }
}
.numbers__item {
  text-align: center;
  @media screen and (max-width: 1200px) {
    margin-bottom: 60px;
  	flex: 0 0 300px;
  }
  @media screen and (max-width: 768px) {
    margin: 0 auto 60px;
  	width: 280px
  }
  &:last-of-type {
    @media screen and (max-width: 768px) {
      margin-bottom: 0;
    }
  }
}
.numbers__title {
  margin-bottom: 30px;
  font-family: GreyscaleBasic, sans-serif;
  font-size: 64px ;
  font-weight: bold;
  color: $congressBlue;
  @media screen and (max-width: 768px) {
    font-size: 44px;
  }
}