.page-ciclo {
  padding-top: 179px;
  @media screen and (max-width: 992px) {
    padding-top: 20px;
  }
}
.page-ciclo__wrap {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 992px) {
    display: block;
  }
}
.page-ciclo__content {
  margin-bottom: 63px;
  order: 1;
  width: 42%;
  @media screen and (max-width: 992px) {
    width: auto;
  }
  h1 {
    margin-bottom: 40px;
    font-family: GreyscaleBasic, sans-serif;
    font-size: 64px;
    font-weight: normal;
    letter-spacing: -0.01em;
	color: $congressBlue;
    @media screen and (max-width: 768px) {
      font-size: 48px;
    }
  }
  p {
    line-height: 1.4;
    margin-bottom: 33px;
    text-align: justify;
  }
  strong {
    font-weight: normal;
    color: $congressBlue;
  }
}
.page-ciclo__img {
  order: 2;
  width: 55.5%;
  @media screen and (max-width: 992px) {
    margin-bottom: 100px;
    width: auto;
  }
  img {
    position: relative;
    top: 61px;
    left: 17px;
  }
}