.page-single-referenze {
  padding-top: 230px;
  @media screen and (max-width: 768px) {
    padding-top: 130px;
  }
}
.page-single-referenze__wrap {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1612px;
}
.page-single-referenze__title {
  margin-bottom: 100px;
  font-family: GreyscaleBasic, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 92%;
  text-align: center;
  letter-spacing: -0.01em;
  color: $congressBlue;
  @media screen and (max-width: 768px) {
    font-size: 44px;
  }
}
.page-single-referenze__content {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 992px) {
    display: flex;
    flex-direction: column-reverse;
  }
}
.page-single-referenze__item {
  margin-bottom: 108px;
  width: 46.7%;
  @media screen and (max-width: 992px) {
    width: auto;
  }
  p {
    margin-bottom: 30px;
    line-height: 1.5;
    text-align: justify;
  }
}