.page-manutenzione {
  .page-header {
	margin-bottom: 11px;
  }
}
.page-manutenzione__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: -26px;
  padding-left: 113px;
  @media screen and (max-width: 1400px) {
	display: block;
	padding-left: 30px;
	padding-right: 30px;
  }
  @media screen and (max-width: 576px) {
	padding: 0 15px;
  }
  .text-columns.text-columns--2 {
	column-count: 2;
	column-gap: 9%;
	margin-top: 8px;
	width: 60%;
	@media screen and (max-width: 1400px) {
	  column-count: 3;
	  column-gap: 5%;
	  margin-top: 0;
	  margin-bottom: 80px;
	  width: auto;
	}
	@media screen and (max-width: 992px) {
	  column-count: 2;
	}
	@media screen and (max-width: 576px) {
	  column-count: initial;
	}
  }
  .text-columns__item {
	margin-bottom: 100px;
  }
  .azienda-banner {
	width: 33%;
	@media screen and (max-width: 1400px) {
	  margin: 0 auto;
	  width: 600px;
	}
	@media screen and (max-width: 660px) {
	  max-width: 600px;
	  width: auto;
	}
  }
}
