.page-azienda__wrap {
  display: flex;
  justify-content: space-between;
  padding: 154px 23px 33px;
  @media screen and (max-width: 1200px) {
	flex-wrap: wrap;
	justify-content: center;
  }
  @media screen and (max-width: 576px) {
	display: block;
	padding: 60px 15px;
  }
}
.page-azienda__item {
  margin-right: 2%;
  width: 30%;
  @media screen and (max-width: 1200px) {
	margin-bottom: 40px;
	margin-right: 4%;
	width: auto;
	flex: 0 0 450px;
  }
  @media screen and (max-width: 576px) {
	margin: 0 auto 40px;
  	max-width: 450px;
  }
  h2 {
	margin-bottom: 55px;
	font-family: GreyscaleBasic, sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: $congressBlue;
  }
  p {
	margin-bottom: 32px;
	line-height: 1.4;
	letter-spacing: 0.2px;
  }
}
.page-azienda__banner {
  flex: 0 0 390px;
  @media screen and (max-width: 576px) {
  	max-width: 390px;
	width: auto;
  }
  a {
	display: block;
	text-align: center;
	height: 120px;
	font-family: GreyscaleBasic, sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: white;
	line-height: 120px;
	background-color: $flamingo;
	transition: all .2s;
	&:hover {
	  font-size: 30px;
	}
	&:active {
	  font-size: 24px;
	  color: $flamingo;
	  background-color: white;
	  border: 1px solid $flamingo;
	}
  }
}
.page-azienda__img {
  position: relative;
  width: 390px;
  height: 236px;
  transition: all .2s;
  @media screen and (max-width: 576px) {
	width: auto;
  }
  img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
  }
}