.page-story {
  padding-top: 136px;
  @media screen and (max-width: 992px) {
	padding-top: 60px;
  }
}
.page-story__wrap {
  padding: 0 23px;
  @media screen and (max-width: 576px) {
	padding: 0;
  }
}
.page-story-intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 172px;
  @media screen and (max-width: 1500px) {
	display: block;
	text-align: center;
  }
  @media screen and (max-width: 576px) {
	margin-bottom: 80px;
  }
}
.page-story__logo {
  @media screen and (max-width: 1500px) {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
  }
  @media screen and (max-width: 768px) {
	display: block;
  }
}
.page-story__icons {
  margin-bottom: 42px;
  @media screen and (max-width: 1500px) {
	margin-right: 60px;
  }
  @media screen and (max-width: 768px) {
	margin-right: 0;
	margin-bottom: 0;
  }
  svg {
	@media screen and (max-width: 768px) {
	  width: 80px;
	}
  }
}
.page-story__text {
  font-family: GreyscaleBasic, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: .4px;
  color: $congressBlue;
  @media screen and (max-width: 1500px) {
	text-align: left;
  }
  @media screen and (max-width: 992px) {
	font-size: 40px;
  }
  @media screen and (max-width: 768px) {
	text-align: center;
  }
}
.page-story__list {
  li {
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
	@media screen and (max-width: 992px) {
	  display: block;
	}
  }
  .year {
	position: relative;
	top: 13px;
	width: 24%;
	font-family: GreyscaleBasic, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 144px;
	text-align: right;
	color: $congressBlue;
	opacity: 0.3;
	@media screen and (max-width: 992px) {
	  top: 0;
	  text-align: center;
	  width: auto;
	}
	@media screen and (max-width: 576px) {
	  font-size: 100px;
	}
  }
  .content {
	width: 62.7%;
	@media screen and (max-width: 992px) {
	  text-align: center;
	  width: auto;
	}
  }
  h3 {
	margin-bottom: 33px;
	font-family: GreyscaleBasic, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: #00478c;
  }
  p {
	line-height: 1.4;
	letter-spacing: .3px;
  }
}