.promo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 208px;
  @media screen and (max-width: 1200px) {
    display: block;
  }
  @media screen and (max-width: 576px) {
    margin-bottom: 100px;
  }
}
.promo__left {
  padding-top: 50px;
  width: 40%;
  @media screen and (max-width: 1800px) {
    width: 30%;
  }
  @media screen and (max-width: 1200px) {
    padding-bottom: 50px;
    width: auto;
    text-align: center;
  }
  img {
    padding-left: 113px;
    @media screen and (max-width: 1200px) {
      padding-left: 0;
    }
  }
}
.promo__right {
  display: flex;
  width: 56.7%;
  @media screen and (max-width: 1800px) {
    width: 70%;
  }
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    display: block;
  }
}
.promo__title {
  padding: 50px 50px 40px 53px;
  flex: 0 0 340px;
  font-family: GreyscaleBasic, sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
  color: white;
  background-color: $flamingo;
  @media screen and (max-width: 576px) {
    padding: 30px;
  }
}
.promo__text {
  padding: 50px 120px 40px 50px;
  font-family: Graphik, sans-serif;
  font-size: 18px;
  text-align: justify;
  line-height: 1.5;
  color: white;
  background-color: $congressBlue;
  @media screen and (max-width: 1800px) {
    padding: 50px 50px 40px 50px;
  }
  @media screen and (max-width: 576px) {
    padding: 30px;
  }
}