.section-header {
  margin-bottom: 80px;
  @media screen and (max-width: 1400px) {
    padding: 0 15px;
  }
  &.section-header--last {
    margin-top: 154px;
    margin-bottom: 94px;
    @media screen and (max-width: 576px) {
      margin-top: 90px;
    }
    p {
      max-width: initial;
    }
  }
}
.section-header__subtitle {
  margin-bottom: 49px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .3px;
  color: $congressBlue;
}
.section-header__title {
  margin-bottom: 15px;
  font-family: GreyscaleBasic, sans-serif;
  font-size: 64px;
  font-weight: normal;
  text-align: center;
  letter-spacing: -0.6px;
  color: $congressBlue;
  @media screen and (max-width: 768px) {
    font-size: 44px;
  }
}
.section-header p {
  margin: 0 auto;
  max-width: 950px;
  line-height: 1.5;
  text-align: center;
  strong {
    font-weight: normal;
    text-align: center;
    color: $congressBlue;
  }
}