.services-block {
  margin-top: 106px;
  background-color: white;
  
  .section-header {
	margin-bottom: 97px;
	
	p {
	  max-width: initial;
	}
  }
}

.services-block__wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 76px;
  @media screen and (max-width: 1300px) {
 	flex-wrap: wrap;
  }
  @media screen and (max-width: 768px) {
	padding: 0;
  }
  @media screen and (max-width: 576px) {
	display: block;
  }
}
.services-block__item {
  margin-bottom: 80px;
  @media screen and (max-width: 1300px) {
  	flex: 0 0 270px;
  }
  @media screen and (max-width: 576px) {
	margin: 0 auto 80px;
  	max-width: 270px;
  }
}

.services-block__icon {
  margin-bottom: 60px;
  text-align: center;
}

.services-block {
  svg {
	display: inline-block;
	height: 75px;
  }
}


.services-block__title {
  font-family: GreyscaleBasic, sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
}