.single-prodotti-page {
  padding-top: 40px;
  padding-left: 114px;
  @media screen and (max-width: 1300px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (max-width: 576px) {
    padding: 70px 0 0;
  }
  .breadcrumb {
    margin-bottom: 28px;
  }
}
.single-prodotti-page__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @media screen and (max-width: 1300px) {
    display: block;
  }
}
.single-prodotti-page__content {
  margin-bottom: 125px;
  padding-top: 21px;
  width: 60%;
  @media screen and (max-width: 1300px) {
    width: auto;
  }
  @media screen and (max-width: 576px) {
    padding: 15px;
    margin-bottom: 30px;
  }
}
.single-prodotti-page__banner {
  margin-bottom: 125px;
  width: 35.7%;
  @media screen and (max-width: 1300px) {
    width: auto;
  }
  @media screen and (max-width: 768px) {
    margin-bottom: 25px;
  }
}
.single-prodotti-page__img {
  position: relative;
  margin-bottom: 53px;
  img {
	width: 82%;
	height: 98%;
  }
}
.single-prodotti-page__title {
  margin-bottom: 23px;
  font-family: GreyscaleBasic, sans-serif;
  font-size: 75px;
  font-weight: bold;
  color: $congressBlue;
  @media screen and (max-width: 992px) {
    font-size: 50px;
  }
  @media screen and (max-width: 576px) {
    font-size: 30px;
  }
}
.single-prodotti-page__description {
  margin-bottom: 44px;
  font-family: GreyscaleBasic, sans-serif;
  font-size: 35px;
  letter-spacing: .7px;
  color: $doveGray;
  @media screen and (max-width: 576px) {
    font-size: 24px;
  }
}
.single-prodotti-page__text {
  max-width: 1003px;
  p {
	margin-bottom: 10px;
	line-height: 1.5;
  }
  strong {
	font-weight: normal;
	color: $congressBlue;
  }
}