.table-block {
  padding: 116px 0 76px;
  background-color: $gallery;
  @media screen and (max-width: 768px) {
    padding: 60px 0;
  }
}
.table-block__responsive {
  @media screen and (max-width: 660px) {
    width: 100%;
    overflow-x: scroll;
  }
}
.table-block__wrap {
  background-color: white;
}
.table-block__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 78px 0 55px;
  @media screen and (max-width: 768px) {
    padding: 30px 0 24px;
  }
  img {
	display: inline-block;
	margin-right: 10px;
  }
}
.table-block__title {
  position: relative;
  top: 3px;
  font-family: GreyscaleBasic, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  color: $congressBlue;
  @media screen and (max-width: 360px) {
    font-size: 25px;
  }
}
.table-block {
  &__content {
    padding: 0 48px;
    @media screen and (max-width: 1260px) {
      padding: 0 15px;
    }
    @media screen and (max-width: 660px) {
      width: 631px;
    }
  }
  table {
	width: 100%;
    border-collapse: collapse;
    tbody {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
  .table-block__row {
    display: flex;
	width: 100%;
    background-color: $gallery;
	&:nth-of-type(2) {
      background-color: red;
    }
	&:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(6) {
      td {
        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(4) {
          display: none;
        }
      }
    }
    td {
      margin-left: 1.4%;
      padding: 27px 35px 20px;
      width: 15.5%;
      font-family: GreyscaleBasic, sans-serif;
      font-size: 30px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: left;
      color: $congressBlue;
      @media screen and (max-width: 1550px) {
        width: 20.5%;
        font-size: 24px;
      }
      @media screen and (max-width: 1260px) {
        margin-left: 0;
      }
      @media screen and (max-width: 992px) {
        padding: 20px 10px;
        width: 22%;
      }
	  @media screen and (max-width: 768px) {
        font-size: 20px;
	  }
      &:first-of-type {
        margin-left: 0;
        margin-right: auto;
        width: 30%;
        text-transform: none;
        @media screen and (max-width: 1260px) {
          width: 34%;
        }
      }
    }
  }
  tr {
    display: flex;
  }
  td {
    padding: 24px 36px 21px;
    width: 17%;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid $gallery;
    @media screen and (max-width: 1260px) {
      width: 22%;
    }
    @media screen and (max-width: 992px) {
      font-size: 16px;
    }
    &:first-of-type {
      margin-right: auto;
      width: 40%;
      text-align: left;
      color: $congressBlue;
      @media screen and (max-width: 1260px) {
        width: 34%;
      }
    }
	&[colspan="3"] {
      width: 60%;
      text-align: center;
    }
  }
  .table-block__last-row {
    td {
      padding: 27px 35px 68px;
    }
  }
}
td.hide-desktop {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}