.termico-post {
  display: flex;
  justify-content: space-between;
  background-color: white;
  @media screen and (max-width: 992px) {
	display: block;
  }
  &:nth-child(2) {
	.termico-post__content {
	  order: 3;
	}
 
	.termico-post__img {
	  order: 2;
	}
 
	border-top: 1px solid #efefef;
  }
}

.termico-post__content {
  padding: 83px 81px 66px;
  width: 66.3%;
  @media screen and (max-width: 1400px) {
	padding: 60px;
	width: 50%;
  }
  @media screen and (max-width: 992px) {
	width: auto;
  }
  @media screen and (max-width: 576px) {
	padding: 60px 30px;
  }
}

.termico-post__title {
  margin-bottom: 40px;
  font-family: GreyscaleBasic, sans-serif;
  font-size: 48px;
  font-weight: normal;
  letter-spacing: -0.5px;
  color: $congressBlue;
  @media screen and (max-width: 576px) {
	font-size: 34px;
  }
}

.termico-post__text {
  margin-bottom: 39px;
  p {
	margin-bottom: 10px;
	line-height: 1.5;
  }
  strong {
	font-weight: normal;
	color: $congressBlue;
  }
  
  li {
	position: relative;
	margin-bottom: 17px;
	padding-left: 12px;
	
	&::before {
	  content: '';
	  position: absolute;
	  top: 10px;
	  left: 0;
	  width: 4px;
	  height: 4px;
	  background-color: $doveGray;
	  border-radius: 50%;
	}
  }
}

.termico-post__img {
  position: relative;
  width: 33.3%;
  height: 560px;
  @media screen and (max-width: 1400px) {
	height: 605px;
	width: 50%;
  }
  @media screen and (max-width: 992px) {
	width: auto;
  }
  @media screen and (max-width: 576px) {
	height: 400px;
  }
  
  img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
}
