.text-blocks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
  @media screen and (max-width: 1200px) {
  	flex-wrap: wrap;
  }
}
.text-blocks__item {
  margin-right: 3%;
  width: 22%;
  @media screen and (max-width: 1200px) {
    margin-bottom: 80px;
    min-width: 300px;
    flex: 1;
  }
  &:last-of-type {
    margin-right: 0;
    @media screen and (max-width: 1200px) {
      margin-right: 2%;
    }
  }
}